.textBox {
	resize: none;
	padding: 0.75rem 1rem 0rem !important;
}
.textBoxPosition {
	bottom: 10px;
	width: 65%;
	z-index: 9;
}
.sendBtn {
	bottom: 5px !important;
	right: 5px;
	top: 5px;
	background-color: #aaa !important;
}
.sendBtn:focus {
	box-shadow: none !important;
}
@media screen and (max-width:992px) {
    .textBoxPosition {
        width: 90%;
    }
}