.chatImg {
	width: 50px !important;
	height: 50px !important;
	background-color: black;
}
.message{
    background-color: rgba(204, 204, 204, 0.61);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* border-top-left-radius: 1rem; */
    border-top-right-radius: 1rem;
}
