@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Montserrat+Alternates:ital,wght@0,300;0,500;0,600;0,800;0,900;1,400;1,700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body {
	font-family: 'Montserrat Alternates', sans-serif !important;
	/* font-family: 'Playfair Display', serif !important; */
	overflow-y: hidden;
}
.nav-item .nav-link {
	cursor: pointer !important;
}
@media screen and (min-width: 992px) {
	.navbar-toggler {
		display: none !important;
	}
}
.offcanvas {
	position: absolute !important;
	width: auto !important;
}
.scroll-box {
	overflow-y: scroll;
}
.users-height {
	height: 75vh;
}
@media screen and (max-width: 992px) {
	.users-height {
		height: 90vh;
	}
}
.mssg-height {
	height: 62vh;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 4px !important;
}